<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oiko Mer</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/src/imgFavicon.png" />
    <link href="https://fonts.cdnfonts.com/css/futura-pt" rel="stylesheet">
    <style>
      @import url('https://fonts.cdnfonts.com/css/futura-pt');
      @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,100&display=swap');

      li{
        margin-left: 8px;
        margin-right: 8px;
      }
      </style>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
      <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
  </head>
  <body>
    <!-- Scrip Para Boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <!--Nav bar-->
    <nav class="navbar navbar-expand-lg" style="background-color: #fff8ea">
      <div class="container-fluid">
        <img src="{% static 'imgNavbar.png' %}" alt="Bootstrap" width="100" height="55" />

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class=" nav-item">
              <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>
            
            <!--Ver pesataña si el usuario esta autenticado-->
            {% if user.is_authenticated %}

            <li class="nav-item">
              <a class="nav-link" href="/categoria">Categorias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signout">Cerrar sesion</a>
            </li>
            <!-- Paginas para ver de forma Global-->
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/signin">Iniciar sesion</a>
            </li>            <li class="nav-item">
              <a class="nav-link" href="/signup" style="background-color: #b3d1ff;border-radius:4px;display: inline-block;">Registro</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
