{% extends 'base.html' %}

{% block content %}
    <br>
    <h1 class="text-center" style="font-family: 'Futura PT', sans-serif;">Carrito</h1>
    <br>
    <hr>
    <div class="container">
        <h1>Lista de productos con filtro</h1>
        <hr>

        <div class="filtro">
            <label>Filtrar por categoría:</label>
            <select id="filtro-categoria">
                <option value="todos">Todos los productos</option>
                <option value="ropa">Ropa</option>
                <option value="electrodomesticos">Electrodomésticos</option>
                <option value="juguetes">Juguetes</option>
            </select>
        </div>
        <hr>
        <!-- Productos-->
        <div class="filtro">
            <label>Filtrar por Cadenas:</label>
            <select id="filtro-Cadenas">
                <option value="todos">Todos los precios</option>
                <option value="exito">Exito</option>
                <option value="carulla">Carulla</option>
                <option value="d1">D1</option>
                <option value="ara">Ara</option>
                <option value="jumbo">Ara</option>
            </select>
            <hr>
        </div>
        <!-- Productos-->
        <div id="productos">
            <div class="producto" data-categoria="ropa" data-precio="50">
				<h2>Camisa</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit ultrices bibendum.</p>
				<a href="detalle.html?id=1">Ver detalles</a>
			</div>
            <div class="producto" data-categoria="ropa" data-precio="75">
                <h2>Pantalón</h2>
                <p>Nullam tristique libero eu nibh tristique, auctor lobortis nibh ultrices. Vestibulum ante ipsum
                    primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer at mi commodo,
                    venenatis eros eu, ullamcorper orci.</p>
            </div>
            <div class="producto" data-categoria="electrodomesticos" data-precio="150">
                <h2>Nevera</h2>
                <p>Ut eu eros faucibus, fringilla massa nec, efficitur enim. Curabitur accumsan risus non sem
                    blandit efficitur. In sit amet tellus in nisi iaculis vehicula.</p>
            </div>
            <div class="producto" data-categoria="juguetes" data-precio="25">
                <h2>Lego</h2>
                <p>Sed vulputate lectus vel arcu hendrerit, ut rhoncus nisi tristique. Suspendisse eu ipsum eget
                    enim cursus auctor vel vel velit.</p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#filtro-categoria").change(function () {
                var categoriaSeleccionada = $(this).val();
                if (categoriaSeleccionada == "todos") {
                    $(".producto").show();
                } else {
                    $(".producto").hide();
                    $(".producto[data-categoria='" + categoriaSeleccionada + "']").show();
                }
            });

            $(document).ready(function () {
            $("#filtro-Cadenas").change(function () {
                var categoriaSeleccionada = $(this).val();
                if (categoriaSeleccionada == "todos") {
                    $(".producto").show();
                } else {
                    $(".producto").hide();
                    $(".producto[data-categoria='" + categoriaSeleccionada + "']").show();
                }
            });
           /*
           Filtro por precio

           $("#filtro-precio").change(function () {
                var precioSeleccionado = $(this).val();
                if (precioSeleccionado == "todos") {
                    $(".producto").show();
                } else {
                    $(".producto").hide();
                    var precioMinimo = precioSeleccionado.split("-")[0];
                    var precioMaximo = precioSeleccionado.split("-")[1];
                    $(".producto").each(function () {
                        var precioProducto = $(this).data("precio");
                        if (precioProducto >= precioMinimo && precioProducto <= precioMaximo) {
                            $(this).show();
                        }
                    });
                }
            });

           
        });
    </script> 
{% endblock %}