{% extends 'base.html' %}

{% block content %}
<head>
    <style>

        h1{
            text-align: center;
        }

        .container{
            display: flex;
        }
        img{
            width: 300px;
        }
    </style>
</head>

    {% for categoria_intermedia in categoria_intermedia_list %}
        <div class="categoria-intermedia">
            <h2>{{ categoria_intermedia.nomCategoria_Intermedia }}</h2>
            <a href="{% url 'productos_categoria_intermedia' categoria_intermedia.id %}">
                <img src="{{ categoria_intermedia.foto }}" alt="Imagen de la categoría intermedia">
            </a>
        </div>
    {% empty %}
        <p>No hay categorías intermedias disponibles para esta categoría.</p>
    {% endfor %}

{% endblock %}