{% extends 'base.html' %}
{% block content %}
<body id="page-top">
  {% load static %}

  <!-- Inicio -->
  <header class="bg-primary bg-gradient text-white">
    <div
      class="container px-4 text-center"
      style="background-image: url('src/Fondo-inicio.jpg')"
    >
      <br/>
      <br/>
      <h1 class="fw-bolder">Bienvenido a Oiko Mer</h1>
      <p class="lead"></p>
      <a class="btn btn-lg btn-light" href="#about"
        >Conoce mas sobre nuestra pagina</a>
      <br/>
      <br/>
    </div>
  </header>
  <!-- Quienes Somos -->
  <section id="about">
    <div class="container px-4">
      <div class="row gx-4 justify-content-center">
        <div class="col-lg-8">
          <br />
          <br />
          <h2>Sobre nuestra pagina</h2>
          <p class="lead">
            Bienvenido a Oiko Mer, la aplicación que te ayuda a ahorrar
            dinero en tus compras diarias. ¿Cansado de tener que buscar en
            diferentes tiendas y supermercados para encontrar el mejor precio?
            Con Oiko Mer, puedes buscar y comparar los precios de tus
            productos favoritos en una sola plataforma.
          </p>
          <p class="lead">
           Oiko Mer recolecta la informacion de supermercados como:
          </p>
          <ul>
            <li>Exito</li>
            <li>Carulla</li>
            <li>Jumbo</li>
            <li>Olimpica</li>
          </ul>
        </div>
      </div>
      <br />
      <br />
    </div>
  </section>

  
  <!-- Services section-->

  <section class="bg-light" id="services">
    <div class="container px-4">
      <div class="row gx-4 justify-content-center">
        <div class="col-lg-8">
          <br />
          <br />
          <h2>¿Cómo funciona? </h2>
          <p class="lead">
            
            Es simple. Visita nuestra página web en computador o en móvil. Luego, identifica el producto que deseas adquirir y nosotros te mostramos en que supermercado está más barato. Nuestro sistema recopilará información de la base de datos de múltiples productos de cadenas de mercado para proporcionarte una lista detallada de los precios disponibles y su respectiva grafica.
          </p>
          <br />
          <br />
        </div>
      </div>
    </div>
  </section>

  <!-- Contact section-->
  <section id="contact">
    <div class="container px-4">
      <div class="row gx-4 justify-content-center">
        <div class="col-lg-8">
          <br />
          <br />
          <h2>Contáctanos</h2>
          <p class="lead">
            ¡Hola! Gracias por tu interés en contactarnos. Estamos encantados de recibir tus mensajes y responder a tus consultas. Si deseas comunicarte con nosotros, puedes hacerlo enviándonos un mensaje a nuestras cuentas de GitHub. Estaremos atentos a tus comentarios, preguntas o sugerencias. ¡Esperamos escuchar de ti pronto!
          </p>
          <br />
          <br />
        </div>
      </div>
    </div>
  </section>
  <!-- Footer-->

  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
  <footer class="py-5 bg-dark">
    <div class="container px-4">
      <p class="m-0 text-center text-white">
        Copyright &copy; 2023 Oiko Mer
      </p>
    </div>
  </footer>
</body>
{% endblock %}
